@{
    ViewBag.Title = Resources.HomeView.OurContactsTitle;
}

<div class="navigation-wrapper">
    <h2>@ViewBag.Title</h2>
    <p>
        Lorem ipsum dolor sit amet, ad labores dissentiet vel,
        populo quidam forensibus vel id. No facete possim corpora cum,
        nec at velit graecis recteque. Accusamus disputando cum te,
        detraxit assentior in sea. Nam inani scribentur cu, persius
        ceteros ex eum. Eam choro dolor assueverit ei.
    </p>
    <address>
        One Microsoft Way<br />
        Ukraine, Dnipro, 49000<br />
        <abbr title="Phone">Phone:</abbr>
        (056) 790-98-00
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:flowershop_admin@example.com">flowershop_admin@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:flowershop_trade@example.com">flowershop_trade@example.com</a>
    </address>

    <div>
        @Html.ActionLink("Back to Home", "Index", "Commodities")
    </div>
</div>