@model IEnumerable<FlowersShop.WEB.Models.CityViewModel> 
@{
    ViewBag.Title = "Delivering";
}

<h2>Delivering by cities</h2>
<h3>We are sorry :(</h3>
<p>This page is curently is in development</p> 

<div>
    @Html.ActionLink("Back to Home", "Index", "Commodities")
</div>